@font-face {
    font-family: BOD_R;
    src: url("assets/fonts/BOD_R.TTF");
}

@font-face {
    font-family: candara;
    src: url("assets/fonts/candara.ttf");
}

@font-face {
    font-family: candaral;
    src: url("assets/fonts/candaral.ttf");
}

@font-face {
    font-family: DUBAI-LIGHT;
    src: url("assets/fonts/DUBAI-LIGHT.TTF");
}

@font-face {
    font-family: DUBAI-MEDIUM;
    src: url("assets/fonts/DUBAI-MEDIUM.TTF");
}

@font-face {
    font-family: DUBAI-REGULAR;
    src: url("assets/fonts/DUBAI-REGULAR.TTF");
}

@font-face {
    font-family: segoeui;
    src: url("assets/fonts/segoeui.ttf");
}

body {
    background: #eeeeee !important;
}
body.honestviewpage {
    background: #e9dcc5 !important;
}

.fontBodr {
    font-family: BOD_R;
}

.fontCandara {
    font-family: candara;
}

.head {
    height: 100vh;
    background: #afafaf;
}
.honestviewpage .head {
    height: initial;
}
.header {
    height: 140px;
    background: black;
    border-bottom: 1px solid #deb876;
    z-index: 2;
    position: relative;
}

.menu ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
}

.menu ul li {
    display: inline-block;
    font-size: 25px;
    padding: 0;
}

.menu ul li a {
    color: #deb876;
    position: relative;
    font-family: BOD_R;
}

.menuleft {
    text-align: left;
}

.menuright {
    text-align: right;
}

ul.menuleft li {
    padding: 0 9%;
}

ul.menuright li {
    padding: 0 15%;
}

.menuleft li:first-child {
    padding-left: 0;
}

.menuright li:last-child {
    padding-right: 0;
}

.menu ul li a:after {
    height: 1px;
    width: 45px;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(222, 184, 118, 1) 50%, rgba(0, 0, 0, 1) 100%);
    content: "";
    position: absolute;
    bottom: -1px;
}

.menu ul li a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.logo img {
    width: 170px;
}

.submenu {
    text-align: center;
}

.submenu__right {
    text-align: right;
}

.submenu__border {
    padding: 1px;
    position: relative;
    background: rgb(0, 0, 0);
    border-radius: 3px;
    background: linear-gradient(90deg, rgba(42, 34, 21, 1) 0%, rgba(222, 184, 118, 1) 50%, rgba(42, 34, 21, 1) 100%);
    display: inline-block;
    margin-top: -102px;
}

.submenu__text {
    background: rgb(0, 0, 0);
    font-size: 13px;
    display: inline-block;
    padding: 2px 10px;
    color: #cec2ae;
}

.submenu__text:hover {
    color: #cec2ae;
    text-decoration: none;
    opacity: 0.7;
}

.button__border {
    padding: 3px;
    position: relative;
    background: rgb(0, 0, 0);
    border-radius: 3px;
    background: linear-gradient(90deg, rgba(42, 34, 21, 1) 0%, rgba(222, 184, 118, 1) 50%, rgba(42, 34, 21, 1) 100%);
    display: inline-block;
    margin: 0px 10px;
}

.button__text {
    background: rgb(0, 0, 0);
    font-size: 24px;
    display: inline-block;
    padding: 2px 10px;
    color: #cec2ae;
}

.button__text:hover {
    text-decoration: none;
    color: #cec2ae;
}

.slider {
    top: -60px;
}

.slider:after {
    content: url("assets/scroll.png");
    position: absolute;
    left: 50vw;
    top: 85vh;
}

.slide {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.slide__text {
    font-family: BOD_R;
    background: #ffffff50;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 1000px;
    line-height: 120px;
    color: #FFF;
    font-size: 50px;
    margin-top: 20vh;
}

.head .slick-list {
    width: 100%;
}

.property>div {
    height: 572px !important;
    background-size: cover;
    border: 5px solid #deb876;
    box-sizing: initial;
}

.property ul {
    padding: 0;
    list-style-type: none;
    float: right;
}

.property ul li {
    background: rgb(222, 184, 118);
    background: linear-gradient(90deg, rgba(222, 184, 118, 0.5130427170868348) 0%, rgba(119, 99, 63, 0.6082808123249299) 100%);
    border: 1px solid #97763e82;
    height: 60px;
    width: 75px;
    text-align: center;
    font-size: 20px;
    line-height: 58px;
    margin-bottom: 4px;
    color: #000;
}

.property li img {
    display: block;
    margin: 0 auto;
    line-height: 100px;
    margin-top: 22px;
}

.locations .slick-prev,
.properties .slick-prev {
    position: absolute;
    top: 600px;
    left: 16px;
    border: 0;
    background: none;
    z-index: 9;
}

.afterHeader {
    margin-top: 150px;
}
.locations .slick-next,
.properties .slick-next {
    position: absolute;
    top: 600px;
    right: 16px;
    background: none;
    border: 0;
}

.locations .slick-next,
.locations .slick-prev {
    top: 715px
}
.propertiesslider {
    max-height: 640px;
    overflow-y: hidden;
}

.properties h3 {
    font-family: BOD_R;
    font-size: 36px;
}

.properties__filter {
    font-family: BOD_R;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.properties__filter li {
    display: inline-block;
    font-size: 28px;
    padding: 0;
    padding-left: 20px;
    cursor: pointer;

}

.properties h3,
.properties__filter {
    margin-top: 50px;
    margin-bottom: 10px;
}

.footerBorderDown,
.footerBorderUp {
    width: 100%;
    height: 5px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(42, 34, 21, 1) 0%, rgba(222, 184, 118, 1) 50%, rgba(42, 34, 21, 1) 100%);
}

.separator {
    background: #deb876;
    background: linear-gradient(90deg, rgb(255 255 255) 0%, rgb(90, 67, 26) 50%, rgb(255 255 255) 100%);
}
.separator--hv {
    background: linear-gradient(90deg, rgb(233 220 197) 0%, rgb(90, 67, 26) 50%, rgb(233 220 197) 100%);
}
.bigButton {
    font-family: BOD_R;
    width: 100%;
    height: 120px;
    background: #000;
    border: 4px solid #deb876;
    color: #FFF;
    font-size: 36px;
    text-transform: uppercase;
}
.bigButton:hover {
    background: #deb876;
}

.footer {
    background-color: #000;
    height: 320px;
    color: #FFF;
}

.footer__contact h3 {
    font-family: BOD_R;
    margin-top: 40px;
}

.footer__newsletter {
    margin-top: 40px;
}

.footer__contact ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 10px;
    line-height: 28px;
}

.footer__contact ul span {
    display: inline-block;
    width: 25px;
}

.footer__contact ul li img {
    margin-right: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: -3px;
}

.form__email {
    border: 2px solid #d4af70;
    height: 42px;
    border-radius: 8px;
    overflow: hidden;
}

.form__email button {
    font-family: BOD_R;
    float: left;
    font-size: 18px;
    width: 30%;
    height: 40px;
    background: transparent;
    border: 0;
}

.form__email input {
    float: right;
    width: 70%;
    height: 40px;
    border: 0;
}

.form__checkbox {
    text-align: center;
    padding-top: 22px;
}

.form__checkbox input {
    margin-right: 6px;
    margin-top: 0;
}

.form__checkbox label {
    font-size: 12px;
}

.footer .copyrights {
    text-align: center;
    display: block;
    font-family: candara;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
}

.footer .copyrights span {
    color: #deb876;
}

.footer .border {
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(42, 34, 21, 1) 0%, rgba(222, 184, 118, 1) 50%, rgba(42, 34, 21, 1) 100%);
}

.slide .buttons {
    margin-top: 22vh;
    text-align: center;
    position: relative;
}

.aibuttons,
.slide .button {
    display: inline-block;
}
.aibuttons {
    position: relative
}
.aibuttons .button__border:first-child {
    display: block;
    width: 198px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.aibuttons .button__text {
    font-size: 14px;
    padding: 5px 10px;
}

.buybutton {
    display: inline-block;
    position: inherit;
    position: relative;
}
.rentbutton {
    margin-right: 50px;
}

.hamburger {
    display: none !important;
}

/* PROPERTIES PAGE */
.page .head {
    background: #FFF;
    background-color: #FFF;
}

.title {
    text-align: center;
    margin: 50px 0;
}

.filters__input {
    height: 50px;
    border: 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 10px;
}

.filter__button {
    color: #FFF;
    height: 50px;
    background-color: #d9b066;
    margin-bottom: 15px;
    width: 100%;
    border: none;
    border-radius: 3px;
}
.filter__button--secondary {
    background: #ffffff;
    border: 1px solid #c7c7c7;
    height: 40px;
    color: #999;
}

.listing {
    border: 1px solid #d9b066;
    border-radius: 3px;
    margin-bottom: 30px;
}

.listing__info {
    padding: 20px 0;
}

.listing__label {
    color: #FFF;
    background: #d9b066;
    padding: 2px 14px;
    border-radius: 2px;
    font-size: 18px;
}

.listing__title {
    font-size: 26px;
}

.listing__location {
    margin-bottom: 30px;
}

.listing__description {
    font-size: 16px;
    margin-bottom: 60px;
}

.listing__price {
    font-size: 24px;
    font-weight: bold;
}

.listing__detail {
    text-align: center;
}

.listing__image {
    background-position: center;
    height: 450px;
}

.listing--exclusive {
    background-color: #d9b066;
}

.listing--exclusive .listing__label {
    background-color: #000;
}

.listing__favorite {
    text-align: right;
}
.calltoaction {
    padding-top: 90px;
    padding-bottom: 140px;
}
.calltoaction h1 {
    font-size: 54px;
}
.calltoaction p {
    font-size: 36px;
}
.calltoaction p span {
    background: #ffedce;
    padding: 4px 10px;
}
.calltoaction button {
    margin-top: 50px;
}
.provenHistory p {
    font-size: 18px;
    text-align: justify;
}
.provenHistory button {
    margin-bottom: 40px;
}
.provenHistory.separator {
    margin-top: 50px;
}
.locations {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
} 
.location,
.locations {
    height: 700px;
}
.location {
    background-size: cover;
    background-position: center center;
}
.location .bigButton {
    width: 175px;
    height: 60;
    font-size: 18px;
    margin-top: 50px;
}
.bigButton--secondary {
    background-color: #deb876;
}
.location .bigButton.mt-90 {
    margin-top: 490px;
}
.location--right {
    text-align: right;
}
.teamDescription {
    background-image: url(assets/team.png);
    height: 392px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    text-align: right;
    padding-top: 90px;
}
.teamDescription div {
    width: 300px;
}
.member {
    font-family: BOD_R;
    background-image: url(assets/member.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 406px;
    text-align: center;
    color: #deb876;
    padding-top: 13px;
}
.memberName {
    font-size: 36px;
}
.memberPosition {
    font-size: 18px;
}
.member2 {
    margin-top: 227px;
    padding-top: 175px;
    color: #000;
}
.teamWrap {
    background: #eee;
    padding-top: 100px;
}
.member img {
    display: none;
}
.aibuttons__more {
    width: 280px;
    position: absolute;
    padding-top: 15px;
    left: -40px;
}
.buybutton button,
.rentbutton button,
.aibuttons__more button {
    width: 130px;
    margin: 2px;
    background: #e7b35f;
    border: none;
    color: #FFF;
    padding: 4px 0;
    line-height: 15px;
    height: 30px;
    text-transform: uppercase;
    font-size: 12px;
}
.buybutton__more,
.rentbutton__more {
    position: absolute;
    padding-top: 20px;
    width: 200px;
    left: -60px;
}
.mshow {
    display: none;
}
.propertypage .head,
.propertypage .slider {
    height: 700px;
    max-height: 100vh;
}
.propertypage .slider:after {
    display: none;
}
.tright {
    text-align: right;
}
.propertypage .slider button {
    position: absolute;
    bottom: 70px;
}
.sliderright,
.sliderleft {
    position: relative;
    height: 100%;
}
.sliderright button {
    right: 0;
}
.goldbutton {
    background: #bf954d;
    width: 108px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF;
    border: none;
}
.propertypage .slider .slick-dots {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    right: 51vw;
}
.propertypage .slider .slick-dots li {
    margin: 0 10px;
    display: inline-block;
}
.propertypage .slider .slick-dots li button {
    color: transparent;
    border: 0;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    padding: 0;
    background: #ddb062;
}
.propertypage .slider .slick-dots li.slick-active button {
    background: #ede0ca;
}
.agentTitle,
.propertyTitle {
    font-size: 42px;
}
.propertyPrice {
    font-size: 56px;
}
.propertyDescription {
    font-size: 16px;
    display: block;
    max-height: 200px;
    overflow-y: scroll;
    margin-bottom: 30px;
}
.propertyInfos {
    text-align: justify;
}
.propertyInfos span {
    display: inline-block;
    background-color: #000;
    color: #FFF;
    text-align: center;
    width: 80px;
    height: 50px;
    padding: 0 5px;
    margin-right: 5px;
}
.propertyIcon {
    display: inline-block;
    border: 1px solid #d9b065;
    margin-right: 5px;
    width: 80px;
    height: 80x;
    padding: 10px;
}
.propertyIcon img {
    width: 100%;
}
.propertyFeatures {
    padding-top: 20px;
}
.propertyFeatures p {
    margin: 0;
}
.smallButton {
    background-color: #000;
    color: #FFF;
    border: 0;
}
.agentProfile {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.agentPicture {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid #d9b065;
}
.agentName {
    font-size: 24px;
}
.agentForm select,
.agentForm input:not([type=checkbox]) {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.agentForm textarea {
    width: 100%;
    margin-bottom: 20px;
}
.agentForm button {
    margin-top: 20px;
}
.mapArea {
    margin-top: 80px;
    margin-bottom: 80px;
}
.mapArea .mapAreaNavigation.nav-pills>li.active:hover,
.mapArea .mapAreaNavigation.nav-pills>li.active,
.mapArea .mapAreaNavigation.nav-pills>li:hover,
.mapArea .mapAreaNavigation.nav-pills>li {
    background: transparent;
    margin-right: 20px;
}
.mapArea .mapAreaNavigation.nav-pills>li.active:hover a,
.mapArea .mapAreaNavigation.nav-pills>li.active a,
.mapArea .mapAreaNavigation.nav-pills>li:hover a,
.mapArea .mapAreaNavigation.nav-pills>li a {
    background: transparent;
    color: #000;
    padding: 0;
    font-size: 22px;
    font-family: candara;
    border-radius: 0;
}
.mapArea .mapAreaNavigation.nav-pills>li.active:hover a,
.mapArea .mapAreaNavigation.nav-pills>li.active a {
    border-bottom: 1px solid #d9b065;
}
.tab-pane {
    padding-top: 25px;
}
.tab-pane .tabSubtitle {
    margin-bottom: 0;
}
.mapArea iframe {
    width: 100%;
}
.decoratedTitle {
    text-align: center;
    font-size: 80px;
    line-height: 143px;
    margin: 0;
    color: #8e764b;
    margin-bottom: 100px;
}
.decoratedTitle::before {
    content: url(assets/titledecorationleft.png);
    position: relative;
    left: 63px;
}
.decoratedTitle::after {
    content: url(assets/titledecorationright.png);
    top: 50px;
    position: relative;
    right: 71px;
}
.honestviewHeader p {
    text-align: center;
    font-size: 36px;
    color: #000;
    line-height: 44px;
    margin-bottom: 100px;
}
.hvtitle h3 {
    text-align: center;
    font-size: 36px;
    margin: 70px 0;
}
.hvtitle h3 span {
    background: #eee7dc;
    border: 1px solid #deb976;
    padding: 3px 5px;
    line-height: 50px;
}
.hvProperty {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
}
.hvbtn {
    background-image: url(assets/hvbtn.png);
    width: 100px;
    height: 57px;
    border: 0;
    margin-top: 20px;
    margin-left: 20px;
    background-size: 80% 71%;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
.hvproperties {
    margin-bottom: 100px;
}
.hvfeedbacks,
.hvfeedback {
    margin-bottom: 50px;
}
.hvfeedbackprofile {
    text-align: center;
    border-right: 5px solid #bfa477;
}
.hvfeedbackprofile img {
    display: block;
    margin: 0 auto;
}
.hvfeedbackprofile h6 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0;
}
.hvfeedbackdate {
    font-size: 16px;
}
.hvfeedbacktext h3 {
    margin-top: 5px;
}
.hvfeedbacktext p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.hvfeedbackpics img {
    width: 100px;
    height: auto;
    border: 1px solid;
    margin-right: 10px;
}

@media (max-width: 1199px) {
    .menu ul {
        margin: 0;
    }

    .menu ul li {
        display: block;
    }

    .menuleft,
    .menuright {
        text-align: left;
    }

    .submenu__border {
        display: block;
        background: none;
        margin: 0;
        border-radius: 0;
        padding: 0;
        position: initial;
    }

    .submenu__text {
        background: none;
        font-size: initial;
        display: block;
        padding: initial;
        color: #000;
    }

    .menu ul li {
        padding: 10px 0;
    }

    .menu ul li a {
        color: #000;
    }

    .menu ul li a:after {
        display: none;
    }

    .submenu {
        text-align: left;
    }

    .submenu__border {
        text-align: left;
    }

    .slider {
        top: 0;
    }

    .submenu .submenu__border,
    .menu ul li {
        padding: 4px 0px;
        line-height: 30px;
        font-size: 24px;
        border-bottom: 1px solid black;
    }

    .submenu .submenu__border .submenu__text {
        font-family: BOD_R;
        font-size: 24px;
    }

    .submenu>.submenu__right:last-child>span.submenu__border {
        border: none;
    }

    .toggleMenu {
        display: none;
    }

    .properties h3 {
        text-align: center;
    }

    .properties__filter {
        text-align: center;
        font-size: 11px;
        margin-top: 10px;
    }

    .properties__filter li {
        font-size: 18px;
        padding: 10px 11px;
    }

    .slide__text {
        margin-top: 50px;
        text-align: center;
        width: 100%;
        font-size: 24px;
        padding: 18px;
        line-height: initial;
        color: #000;
    }

    .footer {
        height: auto;
        text-align: center;
    }

    .hamburger {
        display: block !important;
        color: #d9b066;
        font-size: 50px !important;
        position: absolute;
        right: 49px;
        top: 39px;
    }

    .positionAbsolute {
        position: absolute;
    }

    /* PROPERTIES PAGE */
    .filters {
        padding: 0 15px;
    }

    .page .title:first-child {
        margin-top: 100px;
    }
    .member {
        background: none !important;
        height: auto;
    }
    .member2 {
        margin-top: 0;
        padding-top: 0;
    }
    .member img {
        display: inline-block;
        border-radius: 100%;
    }
    .teamDescription {
        background: none;
        padding-top: 0;
        text-align: center;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .teamDescription div {
        width: 100%;
    }
    .footerBorderUp {
        margin-top: 50px;
    }
    .mapArea .mapAreaNavigation.nav-pills>li.active:hover a,
    .mapArea .mapAreaNavigation.nav-pills>li.active a {
        border-bottom: 0;
        color: #bf954d;
    }

}
@media (max-width: 991px) {
    .mhide {
        display: none;
    }
    .mshow {
        display: block;
    }
    .moreFilters .mhide {
        display: block;
    }
    .decoratedTitle::after,
    .decoratedTitle::before {
        content: "";
    }
    .hvproperty {
        margin-bottom: 20px;
    }
    .hvfeedbackprofile {
        border: 0;
    }
    .decoratedTitle {
        font-size: 50px;
        margin: 0;
        margin-bottom: 50px;
        line-height: 50px;
    }
    .honestviewHeader p {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 40px;
    }
    .hvfeedbacktext {
        text-align: center;
    }
}